<div class="d-flex d-row">
  <div class="col">
    <h1>Bookmarks</h1>
    <div id="navigation" class="overflow-auto">
      <%= render 'bookmarks/components/category/navigation', base_categories: Category.root_parents %>
    </div>
  </div>

  <div class="col">
    <h1>Actions</h1>
    <div id="details"></div>
  </div>
</div>
