<h1>Bookmarks</h1>

<ul>
  <% Category.root_parents.each do |category| %>
    <%= render 'bookmarks/components/category/category_card', category: category %>
  <% end %>
</ul>

<%= javascript_pack_tag "categoryAction" %>
