var options = document.querySelector("#bookmark_group_id");
options.insertAdjacentHTML("afterbegin", "<option value=<%= @group.id %> selected> <%= @group.name %> </option>");

document.querySelector("#create-group").remove()
