var options = document.querySelector("#bookmark_group_id");
options.insertAdjacentHTML("beforeend", "<option value=<%= @group.id %> selected> <%= @group.name %> </option>");

document.querySelector("#new-group").remove()
