<button type="button" class="btn m-0 btn-success btn-sm">Add Bookmark</button>
<button type="button" class="btn m-0 btn-success btn-sm">Add Subcategory</button>

<div class="dropdown">
  <button class="btn btn-dark btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Actions
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item py-0" href="#">Edit</a></li>
    <li><a class="dropdown-item py-0" href="#">Remove</a></li>
  </ul>
</div>